{{ define "main" }}
  {{- if .Site.IsServer -}} {{ "<!-- layouts: blog/single.html-->" | safeHTML }} {{- end -}}

    <div id="smoothpage" class="wrapper">

      <!-- =========== PAGE TITLE ========== -->
      {{ partial "breadcrumb.html" . }}

      <!-- =========== MAIN ========== -->
      <main>
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <article class="blog_post">
                <figure>
                  <a href="{{ .Params.image }}" class="hover_effect h_lightbox h_blue" data-rel="magnific-popup">
                    <img src="{{ .Params.image }}" class="img-responsive" alt="Image">
                  </a>
                </figure>
                <div class="details">
                  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                  <div class="info">
                    <span class="meta_part"><a href="#"><i class="fa fa-user"></i>John Doe</a></span>
                    <span class="meta_part"><a href="#"><i
                          class="fa fa-calendar"></i>{{ dateFormat "January 02, 2006" .Params.blog_date | safeHTML }}</a></span>
                    <span class="meta_part"><a href="#"><i class="fa fa-comment-o"></i>{{ .Params.comments }}</a></span>
                      <a href="#">{{ .Params.events }}</a></span>
                  </div>
                  <p>{{ .Params.text }}</p>
                  <p>Zril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend
                    option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent
                    claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt
                    lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur.
                  </p>
                  <blockquote>
                    <i class="fa fa-quote-left"></i>
                    <span class="quote_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris non laoreet dui,
                      Morbi lacus massa, euismod ut turpis molestie, tristique sodales est There are many variations of
                      passages of Lorem Ipsum available, but the majority have suffered alteration.</span>

                  </blockquote>
                  <p> Mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
                    claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem
                    modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                  <div class="meta_post">
                    <div class="tags">
                      <span><i class="fa fa-tags"></i> TAGS</span>
                      <a href="#" rel="tag">Greece</a>
                      <a href="#" rel="tag">Holidays</a>
                      <a href="#" rel="tag">Zakynthos</a>
                    </div>
                    <div class="share">
                      <span><i class="fa fa-share-alt"></i> SHARE</span>
                      <div class="social_media">
                        <a class="facebook" href="#" data-toggle="tooltip" data-original-title="Facebook"><i
                            class="{{ .Site.Params.data.facebook }}"></i></a>
                        <a class="twitter" href="#" data-toggle="tooltip" data-original-title="Twitter"><i
                            class="{{ .Site.Params.data.twitter }}"></i></a>
                        <a class="googleplus" href="#" data-toggle="tooltip" data-original-title="Google Plus"><i
                            class="{{ .Site.Params.data.google_plus }}"></i></a>
                        <a class="pinterest" href="#" data-toggle="tooltip" data-original-title="Pinterest"><i
                            class="{{ .Site.Params.data.pinterest }}"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <div class="comments">
                <div class="main_title t_style3">
                  <h2>COMMENTS (4)</h2>
                </div>       
                <ol class="comments_list clearfix">
                  {{ range .Site.Data }}
                    <li class="comment single_comment">
                      <!-- Comment -->
                      <div class="comment-container comment-box">
                        <a href="#" class="avatar">
                          <img width="80" height="80" src="{{ .image }}" alt="Image">
                        </a>
                        <div class="comment_content">
                          <h4 class="author_name"><a href="#">{{ .name }}</a></h4>
                          <a href="#comment-form" class="reply_link">{{ .replay_link }}</a>
                          <span class="comment_info">
                            <i class="fa {{ .icon }}"></i>
                            <a href="#">
                              <time datetime="2017-10-01T19:56:36+00:00">
                                {{ dateFormat "January 2, 2006 at 15:04 pm" .blog_datetime | safeHTML }}
                              </time>
                            </a>
                          </span>
                          <div class="comment_said_text">
                            <p>{{ .content }}</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  {{ end }}
                </ol>
                <div class="main_title mt40">
                  <h2>LEAVE YOUR COMMENT</h2>
                </div>
                <div class="row">
                  <form id="comment-form" class="comment-form">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Name"> </div>
                    <div class="col-md-6">
                      <input type="email" class="form-control" placeholder="Email"> </div>
                    <div class="col-md-12">
                      <textarea class="form-control" placeholder="Write Your Comment"></textarea>
                    </div>
                    <div class="col-md-12">
                      <button class="button  btn_blue pull-right"><i class="fa fa-paper-plane-o"></i> POST YOUR COMMENT
                      </button>
                      <span class="a_left">*Your email address will not be published.</span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- sidebar blog -->
            <div class="col-md-3">
              <div class="sidebar">
                <aside class="widget">
                  <div class="search">
                    <form method="get" class="widget_search">
                      <input type="search" placeholder="Start Searching...">
                      <button class="search_btn" id="searchsubmit" type="submit">
                      <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                </aside>
                <aside class="widget">
                  <h4>CATEGORIES</h4>
                  <ul class="categories" id="category">
                    <li><a href="/rooms/"> Zante Hotel Rooms
                      <span class="num_posts">{{ len (where .Site.RegularPages "Type" "==" "rooms") }}</span>
                    </a></li>
                    <li><a href="/events/">Events
                      <span class="num_posts">{{ len (where .Site.RegularPages "Type" "==" "events") }}</span>
                    </a></li>
                    <li><a href="/places/"> Zante Hotel Places
                      <span class="num_posts">{{ len (where .Site.RegularPages "Type" "==" "places") }}</span>
                    </a></li>
                    <li><a href="/blog/"> Zante Hotel Blogs List
                      <span class="num_posts">{{ len (where .Site.RegularPages "Type" "==" "blog") }}</span>
                    </a></li>
      
                  </ul>
                </aside>
                <aside class="widget">
                  <h4>Latest Posts</h4>
                  <div class="latest_posts">
                    <!-- ITEM -->
                    {{  range first 5 (where .Site.Pages "Type" "blog").ByWeight }} 
                      <article class="latest_post">
                        <figure>
                          <a href="{{ .RelPermalink }}" class="hover_effect h_link h_blue">
                            <img src="{{ .Params.image }}" style=" width:120px" alt="Image">
                          </a>
                        </figure>
                        <div class="details">
                          <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
                          <span><i class="fa fa-calendar"></i>{{ dateFormat "January 02, 2006" .Params.blog_date | safeHTML }}</span>
                        </div>
                      </article>
                    {{ end }}
                    </div>
                </aside>
                <aside class="widget">
                  <h4>Tags</h4>
                  <div class="tagcloud clearfix">

                    {{ range .Params.tags }}
                      <a href="/tags/{{ . | urlize }}"><span class="tag">{{ . }}</span>
                        <!-- <span class="num"></span> -->
                        </span></a>
                    {{ end }}
                    
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </main>

    </div>

  {{- if .Site.IsServer -}} {{ "<!-- layouts: blog/single.html-->" | safeHTML }} {{- end -}}
{{ end }}