{{- if .Site.IsServer -}} {{ "<!-- partial:script.html-->" | safeHTML }} {{- end -}}

  <!-- ========== JAVASCRIPT ========== -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="/js/jquery.smoothState.js"></script>
  <script type="text/javascript" src="/js/moment.min.js"></script>
  <script type="text/javascript" src="/js/morphext.min.js"></script>
  <script type="text/javascript" src="/js/wow.min.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/owl.carousel.thumbs.min.js"></script>
  <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/js/jPushMenu.js"></script>
  <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
  <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="/js/countUp.min.js"></script>
  <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>

  <!-- MAIN JS FILE  -->
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>

  <!-- ========== REVOLUTION SLIDER ========== -->
  <script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script>

{{- if .Site.IsServer -}} {{ "<!-- end layout : partial/script.html-->" | safeHTML }} {{- end -}}