{{ define "main" }}
  {{- if .Site.IsServer -}} {{ "<!-- layouts: rooms/list.html-->" | safeHTML }} {{- end -}}

    <div id="smoothpage" class="wrapper">
     
      {{ partial "breadcrumb.html" . }}

      <main id="rooms_list">
        <div class="container">
          
          {{ range .Paginator.Pages.ByWeight }}
            <article class="room_list">
              <div class="row row-flex">
                <div class="col-lg-4 col-md-5 col-sm-12">
                  <figure>
                    <a href="{{ .RelPermalink }}" class="hover_effect h_link h_blue">
                      <img src="{{ .Params.image }}" class="img-responsive" alt="Image">
                    </a>
                  </figure>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-12">
                  <div class="room_details row-flex">
                    <div class="col-md-9 col-sm-9 col-xs-12 room_desc">
                      <h3><a href="{{ .RelPermalink }}"> {{ .Params.title }} </a></h3>
                      <p>{{ .Params.text }}</p>
                      <div class="room_services">
                        <i class="fa fa-{{ .Params.coffee }}" data-toggle="popover" data-placement="top" data-trigger="hover"
                          data-content="Breakfast Included" data-original-title="Breakfast"></i>
                        <i class="fa fa-{{ .Params.cutlery }}" data-toggle="popover" data-placement="top" data-trigger="hover"
                          data-content="Restaurant" data-original-title="Zante Restaurant"></i>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 room_price">
                      <div class="room_price_inner">
                        <span class="room_price_number">{{ .Params.price }}</span>
                        <small class="upper"> {{ .Params.time }} </small>
                        <a href="{{ .RelPermalink }}" class="button  btn_blue btn_full upper">{{ .Params.btn_url }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          {{ end }}
        
          <nav class="a_center">           
            <ul class="pagination mt50 mb0">
              {{ $paginator := .Paginate .Pages }}
              {{ if .Paginator.HasPrev }}
                <li class="prev_pagination">
                  <a href="{{ .Paginator.Prev.URL }}"><i class="fa fa-angle-left"></i></a>
                </li>
              {{ end }}
              {{ if .Paginator.HasNext }}
                <li class="next_pagination">
                  <a href="{{ .Paginator.Next.URL }}"><i class="fa fa-angle-right"></i></a>
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </main>      
    </div>

  {{- if .Site.IsServer -}} {{ "<!-- end layouts: rooms/list.html-->" | safeHTML }} {{- end -}}
{{ end }}